<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.PNG') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Title</title>
    {% endblock %}
</head>
<body>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }} </div>
{% endfor %}
  {% block content %}{% endblock %}
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='icon.PNG') }}">
   <footer>
        <small>&copy; 2022 <a href="{{ url_for('introduce') }}" target="_blank" title="点开看看">Introduce</a></small>
    </footer>
</body>
</html>